html, body{
    background: black;
    overflow: hidden;
}

.container-fluid{
  position: relative;
  display:block;
  margin: auto;
  background: green;
}

amoeba {
    position:absolute;
    display: inline;
    width: 80%;
    height: 80%;
    animation: largepulse 10s linear alternate infinite;
    transition: all 10s;
}

shape {
  position: absolute;
  vertical-align: middle;
  margin: auto;
  top: 0; bottom: 0; left:0; right: 0;
  width:65%;
  height:65%;
  opacity: 0.2;
  border-radius: 20px;
  }
  
shape:nth-child(n){
  transition: all 10s;
}

shape:nth-child(odd) {
  background: #372140;
}

shape:nth-child(even) {
  background: #242121;
}

/* animations */
@keyframes pulserotate {
 0% { -webkit-transform: rotate(360deg) scale(1.1);
      -moz-transform: rotate(360deg) scale(1.1);
      -o-transform: rotate(360deg) scale(1.1);
      -ms-transform: rotate(360deg) scale(1.1);
 }
}

@keyframes shrink {
    0% {
        -webkit-transform: rotate(360deg) scale(0.8);
        -moz-transform: rotate(360deg) scale(0.8);
        -o-transform: rotate(360deg) scale(0.8);
        -ms-transform: rotate(360deg) scale(0.8);
    }
}

@keyframes expand {
    0% {
        -webkit-transform: rotate(360deg) scale(1.4);
        -moz-transform: rotate(360deg) scale(0.8);
        -o-transform: rotate(360deg) scale(0.8);
        -ms-transform: rotate(360deg) scale(0.8);
    }
}

@keyframes pulsate {
    25% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
    }
}