html, body {
    height:100%; width:100%;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    position: relative
}


container {
  position: relative;
  display:block;
  vertical-align: middle;
  margin: auto;
  top: 20%; left: 0; right: 0; bottom: 0;
  width: 100%;
  background: black;
}

amoeba {
    position:absolute;
    display: inline;
    margin-top: 30%; margin-left:30%;
    width: 60%;
    height: 60%;
    transform: translate3d(0,0,0);          /*  force hardware accelleration on mobile devices */    
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all 10s;
    -moz-transition: all 10s;
    -o-transition: all 10s;
}

shape {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0.2;
  border-radius: 20px;
  }
  
shape:nth-child(n){
  -webkit-transition: all 10s;
  -moz-transition: all 10s;
  -o-transition: all 10s;
}

/* animations */
@-webkit-keyframes pulserotate {
 0% { -webkit-transform: rotate(360deg) scale(1.2);
      -moz-transform: rotate(360deg) scale(1.2);
      -o-transform: rotate(360deg) scale(1.2);
      -ms-transform: rotate(360deg) scale(1.2);
 }
}

@-webkit-keyframes shrink {
    0% {
        -webkit-transform: rotate(360deg) scale(0.8);
        -moz-transform: rotate(360deg) scale(0.8);
        -o-transform: rotate(360deg) scale(0.8);
        -ms-transform: rotate(360deg) scale(0.8);
    }
}

@-webkit-keyframes expand {
    0% {
        -webkit-transform: rotate(360deg) scale(1.4);
        -moz-transform: rotate(360deg) scale(1.4);
        -o-transform: rotate(360deg) scale(1.4);
        -ms-transform: rotate(360deg) scale(1.4);
    }
}

@-webkit-keyframes pulsate {
    25% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
    }
}

@-webkit-keyframes largePulse {
    25% {
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -o-transform: scale(0.7);
        -ms-transform: scale(0.7);
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
}