html, body{
    height:100%;
}

container {
  position: relative;
  display:block;
  margin: auto;
  top: 0; left: 0px; bottom: 0; right: 0;  
  width: 75%;
  padding-bottom: 75%;
  background: black;
}

amoeba {
    position:absolute;
    display: inline;
    margin-top: 33%; margin-left:33%;
    width: 60%;
    height: 60%;
    animation: largepulse 10s linear alternate infinite;
    transition: all 10s;
}

shape {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0.2;
  border-radius: 20px;
  }
  
shape:nth-child(n){
  transition: all 10s;
}

shape:nth-child(odd) {
  background: Grey;
}

shape:nth-child(even) {
  background: MediumPurple;
}

/* animations */
@keyframes pulserotate {
 0% { -webkit-transform: rotate(360deg) scale(1.1);}
}

@keyframes shrink {
    0% {
        -webkit-transform: rotate(360deg) scale(0.8);
    }
}

@keyframes expand {
    0% {
        -webkit-transform: rotate(360deg) scale(1.4);
    }
}

@keyframes pulsate {
    25% {
        -webkit-transform: scale(1.2);
    }
    50% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.9);
    }

}