html, body{
    height:100%;
}

container {
  position: relative;
  display:block;
  margin: auto;
  top: 0; left: 0px; bottom: 0; right: 0;  
  width: 75%;
  padding-bottom: 75%;
  background: black;

}

amoeba {
    position:absolute;
    display: inline;
    margin-top: 25%; margin-left:28%;
    width: 65%;
    height: 65%;
    animation: pulse 5s alternate infinite;
}

shape {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0.2;
  border-radius: 50px;
  }

  
shape:nth-child(n){
  
}


shape:nth-child(odd) {
  background: Blue;
}

shape:nth-child(even) {
  background: MediumAquaMarine;
 
}

shape:nth-child(3n) {
    background: AliceBlue;
}

shape:nth-child(4n) {
   background: Azure;
}

shape:nth-child(2n+3) {
    background:MediumBlue;
}

shape:nth-child(3n+1) {
    background: PowderBlue;
}

/* animations */
@keyframes pulserotate {
 0% { -webkit-transform: rotate(360deg) scale(0.8);}
}

@keyframes pulse {
 0% { -webkit-transform: scale(0.8);}
}
