html, body{
    height:100%;
}

container {
  position: relative;
  display:block;
  margin: auto;
  top: 0; left: 0px; bottom: 0; right: 0;  
  width: 75%;
  padding-bottom: 75%;
  background: black;
}

amoeba {
    position:absolute;
    display: inline;
    margin-top: 30%; margin-left:30%;
    width: 60%;
    height: 60%;
    animation: pulse 10s linear alternate infinite;
}

shape {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0.2;
  border-radius: 20px;
  }
  
shape:nth-child(n){
  
}


shape:nth-child(odd) {
  background: #565456; /*grey*/
}

shape:nth-child(even) {
     background: #834483 /*dark purple*/
}

shape:nth-child(3n) {
     background: #ACAAAC; /*lighter grey*/
}

shape:nth-child(4n) {
     background: #dfaae8 /*lighter purple*/
}

shape:nth-child(2n+3) {
     background: #5e4c6c; /*bluish grey-purple*/
}

shape:nth-child(3n+1) {
     background: #783b3b /*reddish grey-purple*/
}



/* animations */
@keyframes pulserotate {
 0% { -webkit-transform: rotate(360deg) scale(1.2);}
}

@keyframes pulse {
 0% { -webkit-transform: scale(0.8);}
}

